/* ==========================RESET HOJA DE ESTILOS========================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================ESTILOS GENERALES========================== */

body{
    min-height: 100vh; 
    width: 100%;
    background-image: url(../../public/image/triage-body.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
}

ul{
    
    list-style: none;
    padding: 1rem; 
    margin: 1rem; 
}

a{
    text-decoration: none; 
    color: black;
}

a:hover {
    text-decoration: underline; 
    color: #a30000;
}

/* ==========================ENCABEZADO========================== */
header {
    text-align: center;
}
 /* Barra de navegación */
nav{
    display: flex;
    gap: 1.5rem;
    background-color: #bdd5c4;
    padding: 1rem;
    align-items: center;
    border-radius: 1rem;
    justify-content: center; 
    flex-wrap: wrap; 
}

/* Imagen de Portada */
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60rem;
    margin: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s; 
}

figure:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
